div,
ul.li {
  padding: 0;
  margin: 0;
}
div li {
  display: inline-block;
  border: 1px solid red;
  position: relative;
}
div li ul {
  border: 1px solid green;
  position: absolute;
}
div li ul li {
  border: 1px solid lightskyblue;
  position: relative;
}
